
on post-fs-data
    wait /data/vendor/wifi
    wait /data/vendor/bluedroid
    start hisi_init
    
service hisi_init /vendor/bin/hw/hisi_init
    class main
    user root
    group bluetooth system wifi
    oneshot
    disabled

